<meta charset="UTF-8" />

<script>
	function hide_left_menu() {
		$("#left_menu").toggle();
		//判断display  是啥  display: none;  display: block;
		var display_ = $("#left_menu").css("display");
		if (display_ == 'none') {
			$("#main_scroll").css("padding-left", "0px");
			left_width = 0 ;
		} else {
			$("#main_scroll").css("padding-left", "200px");
			left_width =200;
		}
		init_tab_height();
	}
	
</script>

<style>
/* 顶部 导航整块的间距取消   默认20 */
.layui-nav{
	padding: 0 0px;
}
/* 顶部 导航 菜单 之间 间距15  默认20 */
.layui-nav .layui-nav-item a {
    padding: 0 15px;
}
</style>

<div style="height: 60px; width: 100%; background-color: #23262E; display: flex; display: -webkit-flex;">

	<div style="flex: 1; -webkit-flex: 1; ">
		<ul class="layui-nav">
			<li class="layui-nav-item"><a href="javascript:;" onclick="hide_left_menu()">图书-用户-管理系统</a></li>
			<li class="layui-nav-item">计算机172-柳金涛-17103330219</a></li>
		</ul>
	</div>

</div>

